.event-section .event-grids{
    margin: 500px -15px 0;
}



.section-title:before {
    content: "";
    background: url(../images/sec-title-flower.png) center center / cover no-repeat local;
    width: 126px;
    height: 59px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
}